@font-face {
	font-family: 'Computer Modern Serif';
	src: url('/assets/fonts/cmunrm.eot');
	src: url('/assets/fonts/cmunrm.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/cmunrm.woff') format('woff'),
		 url('/assets/fonts/cmunrm.ttf') format('truetype'),
		 url('/assets/fonts/cmunrm.svg#cmunrm') format('svg');
	font-weight: normal;
	font-style: normal;
}
